@model IEnumerable<Portfolio.Areas.Management.Models.LanguageViewModel>;
@using AutoMapper
@inject IMapper _mapper

    <div id="modal-container"></div>
    <table class="items-center w-full bg-transparent border-collapse">
        <thead>
            <tr>
                <th
                    class="text-center align-middle px-6 border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                    @Html.DisplayNameFor(model => model.Image)
                </th>

                <th
                    class="text-center align-middle px-6 border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                    @Html.DisplayNameFor(model => model.Title)
                </th>

                <th
                    class="text-center align-middle px-6 border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                    @Html.DisplayNameFor(model => model.Level)
                </th>

                <th
                    class="text-center align-middle px-6 border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                </th>
            </tr>
        </thead>
        <tbody>
            @{
            foreach (var language in Model)
            {
            <tr>
                <td class="align-middle text-center text-xs p-4">
                    @{
                        language.Image.HtmlClass = "m-auto c-max-width-3rem";
                    }
                    <partial name="_ImagePartial" model="language.Image" />
                </td>
                <td class="align-middle text-center text-xs p-4">
                    @language.Title
                </td>
                <td class="align-middle text-center text-xs p-4">
                    @language.Level
                </td>
                <td class="align-middle text-center text-xs p-4 ">
                    <partial name="_DeletePartial" model=@language />
                    @{
                        EditLanguageViewModel editLanguage = new EditLanguageViewModel();
                        editLanguage = _mapper.Map<EditLanguageViewModel>(language);
                    }
                    <partial name="_EditPartial" model=@editLanguage />
                </td>
            </tr> }
            }
        </tbody>
    </table>